{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Quad Layout Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/layouts.css') }}">
{% endblock %}

{% block content %}
<div class="layout-container">
    <div class="quad-layout">
        <div class="quad-device">
            <div class="device-label">Desktop</div>
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Desktop Mockup"></iframe>
            </div>
        </div>
        
        <div class="quad-device">
            <div class="device-label">Tablet</div>
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Tablet Mockup"></iframe>
            </div>
        </div>
        
        <div class="quad-device">
            <div class="device-label">Phone</div>
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Phone Mockup"></iframe>
            </div>
        </div>
        
        <div class="quad-device">
            <div class="device-label">Mobile</div>
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Mobile Mockup"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}