{% extends "@DeviceMockupViewer/storefront/layout/base.html.twig" %}

{% block title %}Trible Layout Mockup{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/devicemockupviewer/css/layouts.css') }}">
{% endblock %}

{% block content %}
<div class="layout-container">
    <div class="trible-layout">
        <div class="trible-desktop">
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Desktop Mockup"></iframe>
            </div>
        </div>
        
        <div class="trible-tablet">
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Tablet Mockup"></iframe>
            </div>
        </div>
        
        <div class="trible-phone">
            <div class="screen screen-base">
                <iframe src="{{ cleanUrl }}" title="Phone Mockup"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}